$desktop: 1194px;
$mobile: 375px;

$fontSizeStandard: 16px;
$fontSizeSmall: 14px;
$fontSizeH1: 40px;
$fontSizeH3: 22px;

// primary colors
$colorBlue1: #E6F7FF;
$colorBlueDefault: #1890FF;
$colorBlueHover: #40A9FF;
$colorBlueFocused: #096DD9;

// gray colors
$colorError: #F5222D;
$colorGray1: #FFFFFF;
$colorGray2: #FFFFFF;
$colorGray3: #F5F5F5;
$colorGray4: #E8E8E8;
$colorGray5: #D9D9D9;
$colorGray6: #BFBFBF;
$colorGray7: #8C8C8C;
$colorGray8: #595959;
$colorGray9: #262626;